In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('expert_system.csv', sep=';')
df = df[:18]
df

    Стенокардия  ...  Хроническая ревматическая болезнь сердца
0             1  ...                                         0
1             1  ...                                         0
2             0  ...                                         1
3             1  ...                                         0
4             0  ...                                         1
5             1  ...                                         1
6             0  ...                                         0
7             0  ...                                         0
8             0  ...                                         0
9             0  ...                                         1
10            0  ...                                         0
11            0  ...                                         1
12            0  ...                                         0
13            0  ...                                         1
14            0  ...                                         0
15            1  ...                                         1
16            0  ...                                         1
17            0  ...                                         0

[18 rows x 6 columns]

In [3]:
df1 = df.copy()
for col in df1.columns:
    df1[col].values[:] = 0
df1

    Стенокардия  ...  Хроническая ревматическая болезнь сердца
0             0  ...                                         0
1             0  ...                                         0
2             0  ...                                         0
3             0  ...                                         0
4             0  ...                                         0
5             0  ...                                         0
6             0  ...                                         0
7             0  ...                                         0
8             0  ...                                         0
9             0  ...                                         0
10            0  ...                                         0
11            0  ...                                         0
12            0  ...                                         0
13            0  ...                                         0
14            0  ...                                         0
15            0  ...                                         0
16            0  ...                                         0
17            0  ...                                         0

[18 rows x 6 columns]

In [4]:
# Обучение
# Если название колонки col совпадает с названием колонки обучения colTrain - поощряем, если нет - жестоко наказываем
def trainSys(df, df1):
  for colTrain in df.columns:
    for col in df1.columns:
      for i in range(len(df)):
        if (col == colTrain):
          df1.loc[i, col] = df1.loc[i, col] + df.loc[i, colTrain]
        else: 
          df1.loc[i, col] = df1.loc[i, col] - df.loc[i, colTrain]
  return df1

In [5]:
# Нормализация таблицы
def normDf(df1):
  return round((df1-df1.mean())/df1.std())

In [6]:
for i in range(4):
  df1 = trainSys(df, df1)
df1= normDf(df1)
df1

    Стенокардия  ...  Хроническая ревматическая болезнь сердца
0           1.0  ...                                      -1.0
1           1.0  ...                                      -1.0
2          -2.0  ...                                       0.0
3           0.0  ...                                      -2.0
4          -1.0  ...                                       1.0
5          -1.0  ...                                      -1.0
6           0.0  ...                                       0.0
7           0.0  ...                                       0.0
8           0.0  ...                                       0.0
9          -2.0  ...                                       0.0
10          0.0  ...                                       0.0
11         -2.0  ...                                       0.0
12          1.0  ...                                       1.0
13         -1.0  ...                                       1.0
14          0.0  ...                                       0.0
15          1.0  ...                                       1.0
16          0.0  ...                                       2.0
17         -1.0  ...                                      -1.0

[18 rows x 6 columns]

In [7]:
# Функция проверки на совпадению классу
# df - таблица с колонками на проверку
# d1 - таблица с обученной системой
def checkClass(colCheck, df, df1):
  summa = -1000
  ans = ''
  print('Проверка на:', colCheck)
  for col in df1.columns:
    checkSum = round(sum(df[colCheck] * df1[col]))
    print(col, checkSum)
    if checkSum >= summa:
      summa = checkSum
      ans = col
  print('Ответ:', ans, summa,'\n')

In [8]:
# Нормализация
#df1 = round(df1 * 0.1, 2)
df1.to_csv('finalMatrix.csv')

In [9]:
# Проверка всех классов
for colCheck in df.columns:
  checkClass(colCheck, df, df1)

Проверка на: Стенокардия
Стенокардия 2
Артериальная гипертензия -1
Инфаркт миокарда -1
Миокардит -6
Перикардит -6
Хроническая ревматическая болезнь сердца -4
Ответ: Стенокардия 2

Проверка на: Артериальная гипертензия
Стенокардия -1
Артериальная гипертензия 8
Инфаркт миокарда -2
Миокардит -3
Перикардит -1
Хроническая ревматическая болезнь сердца -1
Ответ: Артериальная гипертензия 8

Проверка на: Инфаркт миокарда
Стенокардия 1
Артериальная гипертензия -1
Инфаркт миокарда 5
Миокардит -3
Перикардит -5
Хроническая ревматическая болезнь сердца -3
Ответ: Инфаркт миокарда 5

Проверка на: Миокардит
Стенокардия -8
Артериальная гипертензия -4
Инфаркт миокарда -5
Миокардит 2
Перикардит -1
Хроническая ревматическая болезнь сердца -2
Ответ: Миокардит 2

Проверка на: Перикардит
Стенокардия -8
Артериальная гипертензия -3
Инфаркт миокарда -6
Миокардит -2
Перикардит 1
Хроническая ревматическая болезнь сердца -2
Ответ: Перикардит 1

Проверка на: Хроническая ревматическая болезнь сердца
Стенокардия -8
Артериальная гипертензия -3
Инфаркт миокарда -6
Миокардит -4
Перикардит -4
Хроническая ревматическая болезнь сердца 4
Ответ: Хроническая ревматическая болезнь сердца 4

In [10]:
df['Новая болезнь'] = [0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0 ]

In [11]:
checkClass("Новая болезнь", df, df1)

Проверка на: Новая болезнь
Стенокардия -2
Артериальная гипертензия 6
Инфаркт миокарда -1
Миокардит 0
Перикардит -2
Хроническая ревматическая болезнь сердца -2
Ответ: Артериальная гипертензия 6

In [12]:
# Доучиваем модель
def eval(df, df1, col):
  df1[col] = 0
  for i in range(4):
    df1 = trainSys(df, df1)
  df1 = normDf(df1) 
  return df1

In [13]:
df1 = eval(df, df1, 'Новая болезнь')

In [14]:
checkClass("Новая болезнь", df, df1)

Проверка на: Новая болезнь
Стенокардия -2
Артериальная гипертензия 0
Инфаркт миокарда -2
Миокардит 0
Перикардит -2
Хроническая ревматическая болезнь сердца -2
Новая болезнь 4
Ответ: Новая болезнь 4

In [15]:
df1.to_csv('finalMatrix.csv')

In [16]:
df1

    Стенокардия  ...  Новая болезнь
0           1.0  ...           -0.0
1           1.0  ...           -0.0
2          -1.0  ...           -1.0
3          -0.0  ...           -0.0
4          -0.0  ...           -0.0
5          -0.0  ...           -2.0
6          -0.0  ...            1.0
7          -0.0  ...            1.0
8          -0.0  ...            1.0
9          -2.0  ...           -0.0
10         -0.0  ...            1.0
11         -1.0  ...           -1.0
12          1.0  ...            1.0
13         -0.0  ...           -0.0
14          1.0  ...            0.0
15          1.0  ...           -0.0
16          1.0  ...            0.0
17         -0.0  ...           -0.0

[18 rows x 7 columns]

In [18]:
count = 1
for col in df1:  
  print('Y'+str(count)+' = ', end='')
  j = -1
  first = False
  while (first == False):
    j += 1
    value = df1.loc[j, col]
    if value != 0:
      first = True   
  #j += 1
  value = df1.loc[j, col]
  
  print(str(value)+'X'+str(j+1), end='')  
  for i in range(j+1, len(df1)):
    value = df1.loc[i, col]
    if value != 0:
      if value > 0:
        print('+'+str(value)+'X'+str(i+1), end='')
      else:
        print(''+str(value)+'X'+str(i+1), end='')
  i = len(df1)-1 
  value = df1.loc[i, col]
  count +=1
  print()

Y1 = 1.0X1+1.0X2-1.0X3-2.0X10-1.0X12+1.0X13+1.0X15+1.0X16+1.0X17
Y2 = -1.0X3-2.0X4+1.0X7+1.0X8+1.0X9-2.0X10+1.0X11-1.0X12+1.0X13
Y3 = 1.0X1+1.0X2-1.0X3-2.0X6-2.0X10-1.0X12+1.0X13+1.0X14+2.0X15
Y4 = -1.0X1-1.0X2+1.0X3+2.0X5-3.0X6+1.0X12+2.0X13-1.0X14+1.0X15-1.0X16+1.0X17+2.0X18
Y5 = 1.0X3-2.0X4+1.0X12+2.0X13+1.0X15+1.0X17+2.0X18
Y6 = -1.0X1-1.0X2-2.0X4+1.0X5-1.0X6+1.0X13+1.0X14+1.0X16+2.0X17-1.0X18
Y7 = -1.0X3-2.0X6+1.0X7+1.0X8+1.0X9+1.0X11-1.0X12+1.0X13